footer {
	margin-top: 100px;
	color: #ffffff;
	text-align: center;
}

.bg-darkGray {
	background-color: #C0C0C0 !important;
}

.border-top-5-dustyPink {
	border-top: 5px solid #f7e6e3 !important;
}

.top {
	position: relative;
	top: -75px;
}

dl {
	margin-left: 0px; margin-right:0px;
}

dt {
	text-align: right;
}

dd {
	text-align: left;
}