.panel-pink {
	border-width: 5px;
	border-color: #f7e6e3;
}
.panel-pink > .panel-heading {
  background-color: rgba(0,0,0,.03);
  border-width: 5px;
  border-color: #f7e6e3;
}
@media (min-width: 768px) {
	.panel-pink {
		min-height: 250px;
	}
}